body{
    background-color: black;
}

@media screen and (min-width: 768px){
    .div_text{
        left: 300px !important;
        width:50% !important;
        top: 100px !important;
        height: 400px !important;
        
    }
    .div_imagem{
        width: 40% !important;
    }
    .botao{
        right:20px !important;
        left: 300px !important;
        top: 160px !important;
        
    }

}
@media screen and (min-width: 1024px) and (max-width: 1440px){
    .div_text{
        left: 500px !important;
        width: 50% !important;
        top: 100px !important;
        height: 500px !important;
    }
    .div_imagem{
        width: 40% !important;
    }
    .botao{
        right:20px !important;
        left: 650px !important;
        top: 140px !important;

        
    }

}