body{
    background-color: black;
}
a{
    color: white;
}

@media screen and (min-width: 768px) {
.div_feminina{
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    
}
.div_masculina{
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    
}
.div_cartao{
    width: 90% !important;
}
.imagem{
    width: 100% !important;
}

}

@media screen and (min-width: 1024px) and (max-width: 1440px){
    .div_feminina{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }
    .div_masculina{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }
    .div_cartao{
        width: 90% !important;
    }
    .imagem{
        width: 100% !important;
    }

}